@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css');

.container {
  margin-top: 2rem;
}
.has-text-gray-light{
  color: #aaa;
}
.tabs {
  width: 50%;
  display: flex;
  justify-content: space-around
}

.tab {
  cursor: pointer;
  margin: 0;
  width: 100%;
  text-align: center;
}

.active {
  color: #4281ff;
}